<!-- Breadcubs Area Start Here -->
    <div class="breadcrumbs-area">
        <ul>
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>Student ID Card</li>
        </ul>
    </div>
    <!-- Breadcubs Area End Here -->
    <!-- Student Certificate Area Start Here -->
    <div class="row gutters-20">

    <div class="col-xl-4 col-6">
    <div class="card height-auto">
        <div class="card-body">
            <div class="heading-layout1">
                <div class="item-title">
                    <h3>Add Student ID Card</h3>
                </div>
                
            </div>
            <form class="new-added-form">
                    <div class="col-xl-12 col-lg-6 col-12 form-group">
                        <label style="font-size: small;">Background Image </label>
                        
                    </div><br>
                    <div class="col-xl-12 col-lg-6 col-12 form-group">
                        <label style="font-size: smaller;">Logo </label>
                        <input type="file" class="form-control-file">
                    </div><br>
                    <div class="col-xl-12 col-lg-6 col-12 form-group">
                        <label style="font-size: smaller;">Signature </label>
                        <input type="file" class="form-control-file">
                    </div><br>
                    <div class="col-xl-12 col-lg-6 col-12 form-group">
                        <label for="inp" class="inp">
                           
                            <span class="label">School Name *</span>
                            <span class="focus-bg"></span>
                        </label>
                        
                    </div>

                    <div class="col-xl-12 col-lg-6 col-12 form-group">
                        <label for="inp" class="inp">
                           
                            <span class="label">ID Card Title*</span>
                            <span class="focus-bg"></span>
                        </label>
                    
                    </div>

                    <div class="col-xl-12 col-lg-6 col-12 form-group">
                        <label for="inp" class="inp">
                           
                            <span class="label">Header Color *</span>
                            <span class="focus-bg"></span>
                        </label>
                    </div>

                    <div class="col-xl-12 col-lg-6 col-12 form-group" row="3">
                        <label for="inp" class="inp">
                           
                            <span class="label">Address / Phone / Email</span>
                            <span class="focus-bg"></span>
                        </label>
                    </div><br>
                    <div class="col-xl-12 col-lg-6 col-12 form-group">
                        <div class="row">
                        <label><input type="checkbox">Name of Student</label>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-6 col-12 form-group">
                        <div class="row">
                        
                      <label><input type="checkbox"> Father's Name</label>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-6 col-12 form-group">
                        <div class="row">
                        <label><input type="checkbox"> Mother's Name</label>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-6 col-12 form-group">
                        <div class="row">
                       
                        <label><input type="checkbox"> Date of Birth</label>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-6 col-12 form-group">
                        <div class="row">
                        
                        <label><input type="checkbox"> Admission No.</label>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-6 col-12 form-group">
                        <div class="row">
                        
                        <label><input type="checkbox"> Address</label>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-6 col-12 form-group">
                        <div class="row">
                        
                       <label><input type="checkbox"> Photo</label>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-6 col-12 form-group">
                        <div class="row">
                        
                        <label><input type="checkbox"> Blood Group</label>
                        </div>
                    </div>
    
                    
                   
                
            </form>
        </div>
    </div>
    </div>

    <!-- Student ID Card Area End Here -->

  <!-- ID Card List Area Start Here -->
                  <!--Table Area Start Here -->
                <div class="col-xl-8 col-6">

                  <div class="card height-auto">
                      <div class="card-body">
                          <div class="heading-layout1">
                              <div class="item-title">
                                  <h3>Student ID Card List</h3>
                              </div>
                            </div>

                            <div class="table-responsive">
                                <table id="example" class="table display data-table text-nowrap cell-border">
                                   
                                   
                                    
                                </table>
                            </div>


                            
                      </div>
                  </div>
                  </div>
                
    <!-- Certificate List Area End Here -->
